@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

body {
  overflow: hidden;
  margin: 0;
  color: white;
  background: url(../images/DarkNoiseBackground.png);
  font-family: "Oswald", "Open Sans", sans-serif;
}

ol {
  list-style-type: none;
  margin-left: -2.0em;
}

p {
  font-family: "Open Sans Condensed", "Oswald", sans-serif;
  font-weight: normal;
}

td {
  font-family: "Open Sans Condensed", "Oswald", sans-serif;
  font-weight: 700;
}


th {
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-family: "Oswald", "Open Sans", sans-serif;
}

#drawer {
  position: absolute;
  top: 5px;
  right: 0px;
  z-index: 100;
  height: 100%;
}

#drawer-content {
  height: 100%;
  width: 0;
  right: 0;
  background-color: rgba(0, 80, 180, 0.95);
  background: linear-gradient(rgba(0, 138, 255, 0.5),
			      rgba(0, 150, 255, 0.5),
			      rgba(0, 180, 255, 0.5),
			      rgba(0, 150, 255, 0.5)),
              rgba(0, 0, 0, 0.8);
  float: right;
  overflow: hidden;
}

#drawer-inner a,
#drawer-content.info-btn {
  text-decoration: underline;
  color: #fff;
}

#drawer-inner a:hover,
#drawer-content .info-btn:hover {
  color: rgb(20, 180, 255);
}

#drawer-inner {
  width: 640px;
  padding: 0 1em;
}

#drawer-content .info-btn {
  position: relative;
  top: 1em;
  left: 644px;
  color: white;
}

#drawer-content h1 {
  margin-top: 0;
}

.table-ref {
  font-family: "Oswald", "Open Sans Condensed";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
}

/*
  This has awful performance...
#drawer-content .footer {
    width: 480px;
    position: absolute;
    bottom: 0;
}
*/

nav {
  /* background-color: rgba(0, 140, 240, 0.95);*/
  background: linear-gradient(rgba(0, 138, 255, 0.5),
			      rgba(0, 150, 255, 0.5)),
              rgba(0, 0, 0, 0.8);
  float: left;
  width: 40px;
  border-bottom-left-radius: 6px;
}

nav ul {
  list-style-type: none;
  margin: 0 0 0 -2.4em;
}

nav ul li {
  margin: 0.2em;
  font-size: 1.4em;
  text-align: center;
}

nav ul li a {
  display: block;
}

nav ul li a:visited, a:link {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: white;
  border-top-color: white;
  text-decoration: underline;
}

#content {
    width: 100%;
    opacity: 0;
}

#display-label-container {
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 6;
    text-shadow: -1px -1px 0 #000,
                 1px -1px 0 #000,
                 -1px 1px 0 #000,
                 1px 1px 0 #000;
}

#top-line {
  width: 100%;
  background-color: rgb(1, 73, 128);
  height: 5px;
}

#logo {
    position: absolute;
    left: 1em;
    top: 1.4em;
    width: 180px;
    z-index: 100;
}

#loading {
  position: absolute;
  right: 4em;
  bottom: 1em;
}

#info {
    position: absolute;
    right: 20em;
    top: 1em;
}

.overlay {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  z-index: 4;
}

.icon {
    width: 1em;
}

.buffer {
  visibility: hidden;
}

.shadow {
  -moz-box-shadow: 0 0 5px 5px rgb(40, 50, 80);
  -webkit-box-shadow: 0 0 5px 5px rgb(40, 50, 80);
  box-shadow: 0 0 5px 5px rgb(40, 50, 80);
}

.box {
  position: absolute;
  z-index: 20;
  text-shadow: -1px -1px 0 #000,
               1px -1px 0 #000,
               -1px 1px 0 #000,
               1px 1px 0 #000;
}

.blue-grad {
  border: thin solid rgb(0, 180, 240);
  /*border-radius: 6px;*/

  background: rgba(10, 10, 10, 0.5);
  background: linear-gradient(rgba(0, 138, 255, 0.3),
			      rgba(0, 150, 255, 0.3),
			      rgba(0, 180, 255, 0.3),
			      rgba(0, 150, 255, 0.3));

  -webkit-box-shadow: 0 0 3px 1px rgb(0, 120, 240);
  -moz-box-shadow: 0 0 3px 1px rgb(0, 120, 240);
  box-shadow: 0 0 3px 1px rgb(0, 120, 240);
}

.black-solid {
  background-color: rgba(10, 20, 30, 0.8);
  border: thin solid rgb(0, 180, 240);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;

  -webkit-box-shadow: 0 0 3px 1px rgb(0, 120, 240);
  -moz-box-shadow: 0 0 3px 1px rgb(0, 120, 240);
  box-shadow: 0 0 3px 1px rgb(0, 120, 240);
}

.table-container {
  z-index: -2;
}

/*
.data table th {
    color: rgb(45, 255, 254);
}
*/

.data table tr {
  line-height: 18px;
  text-align: left;
}

.data table td,
.data table th {
    font-size: 1.0em;
}

.data .flag {
  margin-right: 0.5em;
  height: 1.0em;
}

.data colgroup .bar-col { width: 0; }
.data colgroup .total-count { width: 2.6em; }
.data colgroup .data-label-small { width: 1.6em; }
.data colgroup .data-label { width: 10em; }
.data colgroup .port-label { width: 2.8em; }


.data tr.row:hover {
  background-color: rgba(0, 180, 255, 0.8);
}

.data table .bar {
  position: absolute;
  height: 20px;
  margin-top: -10px;
  background-color: rgb(0, 200, 255);
  z-index: -1;
  border-radius: 3px;
  max-width: 98%;
}

.data table tr td:nth-child(2),
.data table tr th:nth-child(2) {
    text-align: right;
    padding-right: 0.4em;
}

.port-circle {
    font-size: 1.8em;
    text-align: center;
    line-height: 0.5em;
}

.table-header {
  text-align: center;
  color: rgb(40, 255, 255);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  margin-bottom: 4px;

}

.table-header h3 {
    margin: 0.4em 0.8em;
}

.top {
  top: 100px;
}

.bottom {
  bottom: 60px;
}

.left {
  left: 1.0em;
}

.right {
  right: 1em;

}

.world {
  stroke: rgb(255, 255, 255);
  stroke-linejoin: round;
}

.tick {
  stroke: white;
}

/* The data console */
#console {
  margin: 0 1em;
  bottom: 28px;

  pointer-events: none;
}

#console table {
  font-size: 0.8em;
  border-collapse: collapse;
}

#console table td,
#console table th {
  padding: 0 0.5em;
  text-shadow: none;
}

#console table tr.first-level {
  font-size: 1.4em;
}

#console table tr.second-level {
  text-align: left;
  border-bottom: 1px solid rgb(40, 140, 255);
  padding-bottom: 0.2em;
  font-weight: light;
}

#console table tr.second-level th {
  font-weight: light !important;
}

#console colgroup col.left-border {
  border-left: 1px solid rgb(40, 50, 80);
  padding-left: 0.5em;
}

#console colgroup col.timestamp-col { width: 11em; }
#console colgroup col.location-col { width: 160px; }
#console colgroup col.attacker-org-col { width: 160px; }
#console colgroup col.attacker-ip-col { width: 98px; }
#console colgroup col.service-col { width: 120px; }
#console colgroup col.port-col { width: 48px; }


#console table span.overflow {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1.4em;
}

#console table span.org { width: 140px; }
#console table span.service { width: 100px; }
#console table span.location { width: 140x; }

a.toggle {
    color: rgb(55, 116, 172);
    pointer-events: all;
}

#rate-graph {
    z-index: 20;
    position: absolute;
    left: 1em;
    bottom: 0;
    width: 100%;
    height: 20;
}



/* TODO -- sort these */
.attacker {
  color: rgb(214, 39, 40);
}

.target {
  color: rgb(31, 119, 180);
}


/* LEGEND */

#legend h4 {
  font-weight: normal;
  margin: 0.4em auto;
}

#legend > div {
  width: 30%;
  float: left;
  margin: auto 0.5%;
  text-align: center;
}

#legend ul {
  list-style-type: none;
  margin-left: -2em;
}

#legend .clusters ul > li {
  display: inline-block;
  margin: auto 0.8em;
}

#legend .country-colors ul > li {
  display: inline-block;
  margin: auto 0.2em;
  width: 1.2em;
}

footer {
  clear: both;
}

#events-data tr td:first-child {
  white-space: nowrap;
}

#message-panel {
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 300px;
    width: 600px;
}

#message-container {
    position: relative;
    min-height: 100px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

#message-container span {
    display: inline-block; 
    vertical-align: middle ;
}

#close-button {
    position: absolute;
    width: 100px;
    left: 250px;
    bottom: 20px;
    height: 25px;
    color: white;
    border-radius: 3px;
}

#social-icons {
    display: block;
    position: absolute;
    bottom: 7px;
    width: 284px;
    text-align: center;
    z-index: 500;
    border-radius: 6px;
    padding-top: 4px;
}

#social-icons a {
    margin-left: 15px;
}

#social-icons a:first-child {
    margin-left: 0px;
}
