<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!--Step:1 引入一个模块加载器，如esl.js或者require.js-->
    <script src="/static/js/echarts/js/esl.js"></script>
    <script src="/static/js/echarts/js/echarts-map.js"></script>
    <script src="/static/js/echarts/js/echarts.js"></script>

</head>
<style>
    body{background-color: #1b1b1b}
    #main{width:100%; height: 900px}
</style>
<body>
    <div>
        <div id="main" style="float:left;padding:0px;"></div>
    </div>

        <script type="text/javascript">
        var fileLocation = '/static/js/echarts/js/echarts-map';

        require.config({
            paths:{
                'echarts/chart/line': fileLocation,
                'echarts/chart/bar': fileLocation,
                'echarts/chart/scatter': fileLocation,
                'echarts/chart/k': fileLocation,
                'echarts/chart/pie': fileLocation,
                'echarts/chart/radar': fileLocation,
                'echarts/chart/map': fileLocation,
                'echarts/chart/chord': fileLocation,
                'echarts/chart/force': fileLocation
            }
        });
        var myChart;
        require(
            [
                'echarts',
                'echarts/chart/line',
                'echarts/chart/bar',
                'echarts/chart/scatter',
                'echarts/chart/k',
                'echarts/chart/pie',
                'echarts/chart/radar',
                'echarts/chart/force',
                'echarts/chart/chord',
            ],
            function(ec) {

                myChart = ec.init(document.getElementById('main'));

                myChart.setOption(getChinaMapChartOption());


            }
        );

        function getChinaMapChartOption()
        {
            var  chinaMapChartOption = {
               backgroundColor: '#1b1b1b',
                    color: ['gold','aqua','lime'],
                    title : {
                        text: '交换机流量静像分析',
                        subtext:'攻击数据及来源',
                        x:'center',
                        textStyle : {
                            color: '#fff'
                        }
                    },
                    tooltip : {
                        trigger: 'item',
                        formatter: function (v) {
                            return v[1].replace(':', ' > ');
                        }
                    },
                    legend: {
                        orient: 'vertical',
                        x:'left',
                        data:['北京 Top10'],
                        selectedMode: 'single',

                        textStyle : {
                            color: '#fff'
                        }
                    },
                    toolbox: {
                        show : true,
                        orient : 'vertical',
                        x: 'right',
                        y: 'center',
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    dataRange: {
                        min : 0,
                        max : 100,
                        calculable : true,
                        color: ['#ff3333', 'orange', 'yellow','lime','aqua'],
                        textStyle:{
                            color:'#fff'
                        }
                    },
                    series : [
                        {
                            name: '全国',
                            type: 'map',
                            roam: true,
                            hoverable: false,
                            mapType: 'china',
                            itemStyle:{
                                normal:{
                                    borderColor:'rgba(100,149,237,1)',
                                    borderWidth:1,
                                    areaStyle:{
                                        color: '#1b1b1b'
                                    },
                                    label:{show:true}
                                },
                                emphasis:{label:{show:true}}
                            },
                            data:[],

                            geoCoord: {
                                '北京市': [116.40,39.90],
                                '天津市': [117.20,39.12],
                                '河北省石家庄市': [114.52,38.05],
                                '河北省': [115.52,38.05],
                                '河北省唐山市': [118.20,39.63],
                                '河北省秦皇岛市': [119.60,39.93],
                                '河北省邯郸市': [114.48,36.62],
                                '河北省邢台市': [114.48,37.07],
                                '河北省保定市': [115.47,38.87],
                                '河北省张家口市': [114.88,40.82],
                                '河北省承德市': [117.93,40.97],
                                '河北省沧州市': [116.83,38.30],
                                '河北省廊坊市': [116.70,39.52],
                                '河北省衡水市': [115.68,37.73],
                                '山西省太原市': [112.55,37.87],
                                '山西省大同市': [113.30,40.08],
                                '山西省阳泉市': [113.57,37.85],
                                '山西省长治市': [113.12,36.20],
                                '山西省晋城市': [112.83,35.50],
                                '山西省朔州市': [112.43,39.33],
                                '山西省晋中市': [112.75,37.68],
                                '山西省运城市': [110.98,35.02],
                                '山西省忻州市': [112.73,38.42],
                                '山西省临汾市': [111.52,36.08],
                                '山西省吕梁市': [111.13,37.52],
                                '内蒙古自治区呼和浩特市': [111.73,40.83],
                                '内蒙古自治区包头市': [109.83,40.65],
                                '内蒙古自治区乌海市': [106.82,39.67],
                                '内蒙古自治区赤峰市': [118.92,42.27],
                                '内蒙古自治区通辽市': [122.27,43.62],
                                '内蒙古自治区鄂尔多斯市': [109.80,39.62],
                                '内蒙古自治区呼伦贝尔市': [119.77,49.22],
                                '内蒙古自治区巴彦淖尔市': [107.42,40.75],
                                '内蒙古自治区乌兰察布市': [113.12,40.98],
                                '内蒙古自治区兴安盟': [122.05,46.08],
                                '内蒙古自治区锡林郭勒盟': [116.07,43.95],
                                '内蒙古自治区阿拉善盟': [105.67,38.83],
                                '辽宁省沈阳市': [123.43,41.80],
                                '辽宁省大连市': [121.62,38.92],
                                '辽宁省鞍山市': [122.98,41.10],
                                '辽宁省抚顺市': [123.98,41.88],
                                '辽宁省本溪市': [123.77,41.30],
                                '辽宁省丹东市': [124.38,40.13],
                                '辽宁省锦州市': [121.13,41.10],
                                '辽宁省营口市': [122.23,40.67],
                                '辽宁省阜新市': [121.67,42.02],
                                '辽宁省辽阳市': [123.17,41.27],
                                '辽宁省盘锦市': [122.07,41.12],
                                '辽宁省铁岭市': [123.83,42.28],
                                '辽宁省朝阳市': [120.45,41.57],
                                '辽宁省葫芦岛市': [120.83,40.72],
                                '吉林省长春市': [125.32,43.90],
                                '吉林省': [123.32,43.90],
                                '吉林省吉林市': [126.55,43.83],
                                '吉林省四平市': [124.35,43.17],
                                '吉林省辽源市': [125.13,42.88],
                                '吉林省通化市': [125.93,41.73],
                                '吉林省白山市': [126.42,41.93],
                                '吉林省松原市': [124.82,45.13],
                                '吉林省白城市': [122.83,45.62],
                                '吉林省延边朝鲜族自治州': [129.50,42.88],
                                '黑龙江省哈尔滨市': [126.53,45.80],
                                '黑龙江省': [126.53,45.80],
                                '黑龙江省齐齐哈尔市': [123.95,47.33],
                                '黑龙江省鸡西市': [130.97,45.30],
                                '黑龙江省鹤岗市': [130.27,47.33],
                                '黑龙江省双鸭山市': [131.15,46.63],
                                '黑龙江省大庆市': [125.03,46.58],
                                '黑龙江省伊春市': [128.90,47.73],
                                '黑龙江省佳木斯市': [130.37,46.82],
                                '黑龙江省七台河市': [130.95,45.78],
                                '黑龙江省牡丹江市': [129.60,44.58],
                                '黑龙江省黑河市': [127.48,50.25],
                                '黑龙江省绥化市': [126.98,46.63],
                                '黑龙江省大兴安岭地区': [124.12,50.42],
                                '上海市': [121.47,31.23],
                                '江苏省南京市': [118.78,32.07],
                                '江苏省无锡市': [120.30,31.57],
                                '江苏省徐州市': [117.18,34.27],
                                '江苏省常州市': [119.95,31.78],
                                '江苏省苏州市': [120.58,31.30],
                                '江苏省南通市': [120.88,31.98],
                                '江苏省连云港市': [119.22,34.60],
                                '江苏省淮安市': [119.02,33.62],
                                '江苏省盐城市': [120.15,33.35],
                                '江苏省扬州市': [119.40,32.40],
                                '江苏省镇江市': [119.45,32.20],
                                '江苏省泰州市': [119.92,32.45],
                                '江苏省宿迁市': [118.28,33.97],
                                '浙江省': [120.15,30.28],
                                '浙江省杭州市': [120.15,30.28],
                                '浙江省宁波市': [121.55,29.88],
                                '浙江省温州市': [120.70,28.00],
                                '浙江省嘉兴市': [120.75,30.75],
                                '浙江省湖州市': [120.08,30.90],
                                '浙江省绍兴市': [120.57,30.00],
                                '浙江省金华市': [119.65,29.08],
                                '浙江省衢州市': [118.87,28.93],
                                '浙江省舟山市': [122.20,30.00],
                                '浙江省台州市': [121.43,28.68],
                                '浙江省丽水市': [119.92,28.45],
                                '安徽省合肥市': [117.25,31.83],
                                '安徽省芜湖市': [118.38,31.33],
                                '安徽省蚌埠市': [117.38,32.92],
                                '安徽省淮南市': [117.00,32.63],
                                '安徽省马鞍山市': [118.50,31.70],
                                '安徽省淮北市': [116.80,33.95],
                                '安徽省铜陵市': [117.82,30.93],
                                '安徽省安庆市': [117.05,30.53],
                                '安徽省黄山市': [118.33,29.72],
                                '安徽省滁州市': [118.32,32.30],
                                '安徽省阜阳市': [115.82,32.90],
                                '安徽省宿州市': [116.98,33.63],
                                '安徽省巢湖市': [117.87,31.60],
                                '安徽省六安市': [116.50,31.77],
                                '安徽省亳州市': [115.78,33.85],
                                '安徽省池州市': [117.48,30.67],
                                '安徽省宣城市': [118.75,30.95],
                                '福建省福州市': [119.30,26.08],
                                '福建省厦门市': [118.08,24.48],
                                '福建省莆田市': [119.00,25.43],
                                '福建省三明市': [117.62,26.27],
                                '福建省泉州市': [118.67,24.88],
                                '福建省漳州市': [117.65,24.52],
                                '福建省南平市': [118.17,26.65],
                                '福建省龙岩市': [117.03,25.10],
                                '福建省宁德市': [119.52,26.67],
                                '江西省南昌市': [115.85,28.68],
                                '江西省景德镇市': [117.17,29.27],
                                '江西省萍乡市': [113.85,27.63],
                                '江西省九江市': [116.00,29.70],
                                '江西省新余市': [114.92,27.82],
                                '江西省鹰潭市': [117.07,28.27],
                                '江西省赣州市': [114.93,25.83],
                                '江西省吉安市': [114.98,27.12],
                                '江西省吉安???': [114.62,27.38],
                                '江西省宜春市': [114.38,27.80],
                                '江西省抚州市': [116.35,28.00],
                                '江西省上饶市': [117.97,28.45],
                                '山东省济南市': [116.98,36.67],
                                '山东省青岛市': [120.38,36.07],
                                '山东省淄博市': [118.05,36.82],
                                '山东省枣庄市': [117.32,34.82],
                                '山东省东营市': [118.67,37.43],
                                '山东省烟台市': [121.43,37.45],
                                '山东省潍坊市': [119.15,36.70],
                                '山东省济宁市': [116.58,35.42],
                                '山东省泰安市': [117.08,36.20],
                                '山东省威海市': [122.12,37.52],
                                '山东省日照市': [119.52,35.42],
                                '山东省莱芜市': [117.67,36.22],
                                '山东省临沂市': [118.35,35.05],
                                '山东省德州市': [116.30,37.45],
                                '山东省聊城市': [115.98,36.45],
                                '山东省滨州市': [117.97,37.38],
                                '山东省牡丹区': [115.43,35.25],
                                '河南省郑州市': [113.62,34.75],
                                '河南省开封市': [114.30,34.80],
                                '河南省洛阳市': [112.45,34.62],
                                '河南省平顶山市': [113.18,33.77],
                                '河南省安阳市': [114.38,36.10],
                                '河南省鹤壁市': [114.28,35.75],
                                '河南省新乡市': [113.90,35.30],
                                '河南省焦作市': [113.25,35.22],
                                '河南省濮阳市': [115.03,35.77],
                                '河南省许昌市': [113.85,34.03],
                                '河南省漯河市': [114.02,33.58],
                                '河南省三门峡市': [111.20,34.78],
                                '河南省南阳市': [112.52,33.00],
                                '河南省商丘市': [115.65,34.45],
                                '河南省信阳市': [114.07,32.13],
                                '河南省周口市': [114.65,33.62],
                                '河南省驻马店市': [114.02,32.98],
                                '湖北省武汉市': [114.30,30.60],
                                '湖北省黄石市': [115.03,30.20],
                                '湖北省十堰市': [110.78,32.65],
                                '湖北省宜昌市': [111.28,30.70],
                                '湖北省襄樊市': [112.15,32.02],
                                '湖北省鄂州市': [114.88,30.40],
                                '湖北省荆门市': [112.20,31.03],
                                '湖北省孝感市': [113.92,30.93],
                                '湖北省荆州市': [112.23,30.33],
                                '湖北省黄冈市': [114.87,30.45],
                                '湖北省咸宁市': [114.32,29.85],
                                '湖北省随州市': [113.37,31.72],
                                '湖北省恩施土家族苗族自治州': [109.47,30.30],
                                '湖北省仙桃市': [113.45,30.37],
                                '湖南省长沙市': [112.93,28.23],
                                '湖南省株洲市': [113.13,27.83],
                                '湖南省湘潭市': [112.93,27.83],
                                '湖南省衡阳市': [112.57,26.90],
                                '湖南省邵阳市': [111.47,27.25],
                                '湖南省岳阳市': [113.12,29.37],
                                '湖南省常德市': [111.68,29.05],
                                '湖南省张家界市': [110.47,29.13],
                                '湖南省益阳市': [112.32,28.60],
                                '湖南省郴州市': [113.02,25.78],
                                '湖南省永州市': [111.62,26.43],
                                '湖南省怀化市': [110.00,27.57],
                                '湖南省娄底市': [112.00,27.73],
                                '湖南省湘西土家族苗族自治州': [109.73,28.32],
                                '广东省广州市': [113.27,23.13],
                                '广东省韶关市': [113.60,24.82],
                                '广东省深圳市': [114.05,22.55],
                                '广东省珠海市': [113.57,22.27],
                                '广东省汕头市': [116.68,23.35],
                                '广东省佛山市': [113.12,23.02],
                                '广东省江门市': [113.08,22.58],
                                '广东省湛江市': [110.35,21.27],
                                '广东省茂名市': [110.92,21.67],
                                '广东省肇庆市': [112.47,23.05],
                                '广东省惠州市': [114.42,23.12],
                                '广东省梅州市': [116.12,24.28],
                                '广东省汕尾市': [115.37,22.78],
                                '广东省河源市': [114.70,23.73],
                                '广东省阳江市': [111.98,21.87],
                                '广东省清远市': [113.03,23.70],
                                '广东省东莞市': [113.75,23.05],
                                '广东省中山市': [113.38,22.52],
                                '广东省潮州市': [116.62,23.67],
                                '广东省揭阳市': [116.37,23.55],
                                '广东省云浮市': [112.03,22.92],
                                '广西壮族自治区南宁市': [108.37,22.82],
                                '广西壮族自治区柳州市': [109.42,24.33],
                                '广西壮族自治区桂林市': [110.28,25.28],
                                '广西壮族自治区梧州市': [111.27,23.48],
                                '广西壮族自治区北海市': [109.12,21.48],
                                '广西壮族自治区防城港市': [108.35,21.70],
                                '广西壮族自治区钦州市': [108.62,21.95],
                                '广西壮族自治区贵港市': [109.60,23.10],
                                '广西壮族自治区玉林市': [110.17,22.63],
                                '广西壮族自治区百色市': [106.62,23.90],
                                '广西壮族自治区贺州市': [111.55,24.42],
                                '广西壮族自治区河池市': [108.07,24.70],
                                '广西壮族自治区来宾市': [109.23,23.73],
                                '广西壮族自治区崇左市': [107.37,22.40],
                                '海南省海口市': [110.32,20.03],
                                '海南省三亚市': [109.50,18.25],
                                '海南省五指山市': [109.52,18.78],
                                '重庆市': [106.55,29.57],
                                '四川省成都市': [104.07,30.67],
                                '四川省自贡市': [104.78,29.35],
                                '四川省攀枝花市': [101.72,26.58],
                                '四川省泸州市': [105.43,28.87],
                                '四川省德阳市': [104.38,31.13],
                                '四川省绵阳市': [104.73,31.47],
                                '四川省广元市': [105.83,32.43],
                                '四川省遂宁市': [105.57,30.52],
                                '四川省内江市': [105.05,29.58],
                                '四川省乐山市': [103.77,29.57],
                                '四川省南充市': [106.08,30.78],
                                '四川省眉山市': [103.83,30.05],
                                '四川省宜宾市': [104.62,28.77],
                                '四川省广安市': [106.63,30.47],
                                '四川省达州市': [107.50,31.22],
                                '四川省雅安市': [103.00,29.98],
                                '四川省巴中市': [106.77,31.85],
                                '四川省资阳市': [104.65,30.12],
                                '四川省阿坝藏族羌族自治州': [102.22,31.90],
                                '四川省甘孜藏族自治州': [101.97,30.05],
                                '四川省凉山彝族自治州': [102.27,27.90],
                                '贵州省贵阳市': [106.63,26.65],
                                '贵州省六盘水市': [104.83,26.60],
                                '贵州省遵义市': [106.92,27.73],
                                '贵州省安顺市': [105.95,26.25],
                                '贵州省铜仁地区': [109.18,27.72],
                                '贵州省兴义市': [104.90,25.08],
                                '贵州省毕节地区': [105.28,27.30],
                                '贵州省黔东南苗族侗族自治州': [107.97,26.58],
                                '贵州省黔南布依族苗族自治州': [107.52,26.27],
                                '云南省昆明市': [102.72,25.05],
                                '云南省曲靖市': [103.80,25.50],
                                '云南省玉溪市': [102.55,24.35],
                                '云南省保山市': [99.17,25.12],
                                '云南省昭通市': [103.72,27.33],
                                '云南省丽江市': [100.23,26.88],
                                '云南省墨江哈尼族自治县': [101.68,23.43],
                                '云南省临沧市': [100.08,23.88],
                                '云南省楚雄彝族自治州': [101.55,25.03],
                                '云南省红河哈尼族彝族自治州': [103.40,23.37],
                                '云南省文山壮族苗族自治州': [104.25,23.37],
                                '云南省西双版纳傣族自治州': [100.80,22.02],
                                '云南省大理白族自治州': [100.23,25.60],
                                '云南省德宏傣族景颇族自治州': [98.58,24.43],
                                '云南省怒江傈僳族自治州': [98.85,25.85],
                                '云南省迪庆藏族自治州': [99.70,27.83],
                                '西藏自治区拉萨市': [91.13,29.65],
                                '西藏自治区昌都地区': [97.18,31.13],
                                '西藏自治区山南地区': [91.77,29.23],
                                '西藏自治区日喀则地区': [88.88,29.27],
                                '西藏自治区那曲地区': [92.07,31.48],
                                '西藏自治区阿里地区': [80.10,32.50],
                                '西藏自治区林芝地区': [94.37,29.68],
                                '陕西省西安市': [108.93,34.27],
                                '陕西省铜川市': [108.93,34.90],
                                '陕西省宝鸡市': [107.13,34.37],
                                '陕西省咸阳市': [108.70,34.33],
                                '陕西省渭南市': [109.50,34.50],
                                '陕西省延安市': [109.48,36.60],
                                '陕西省汉中市': [107.02,33.07],
                                '陕西省榆林市': [109.73,38.28],
                                '陕西省安康市': [109.02,32.68],
                                '陕西省商洛市': [109.93,33.87],
                                '甘肃省兰州市': [103.82,36.07],
                                '甘肃省嘉峪关市': [98.27,39.80],
                                '甘肃省金昌市': [102.18,38.50],
                                '甘肃省白银市': [104.18,36.55],
                                '甘肃省天水市': [105.72,34.58],
                                '甘肃省武威市': [102.63,37.93],
                                '甘肃省张掖市': [100.45,38.93],
                                '甘肃省平凉市': [106.67,35.55],
                                '甘肃省酒泉市': [98.52,39.75],
                                '甘肃省庆阳市': [107.63,35.73],
                                '甘肃省定西市': [104.62,35.58],
                                '甘肃省陇南市': [104.92,33.40],
                                '甘肃省临夏回族自治州': [103.22,35.60],
                                '甘肃省甘南藏族自治州': [102.92,34.98],
                                '青海省西宁市': [101.78,36.62],
                                '青海省海东地区': [102.12,36.50],
                                '青海省海北藏族自治州': [100.90,36.97],
                                '青海省黄南藏族自治州': [102.02,35.52],
                                '青海省海南藏族自治州': [100.62,36.28],
                                '青海省果洛藏族自治州': [100.23,34.48],
                                '青海省玉树藏族自治州': [97.02,33.00],
                                '青海省海西蒙古族藏族自治州': [97.37,37.37],
                                '宁夏回族自治区银川市': [106.28,38.47],
                                '宁夏回族自治区石嘴山市': [106.38,39.02],
                                '宁夏回族自治区吴忠市': [106.20,37.98],
                                '宁夏回族自治区固原市': [106.28,36.00],
                                '宁夏回族自治区中卫市': [105.18,37.52],
                                '新疆维吾尔乌鲁木齐市': [87.62,43.82],
                                '新疆维吾尔克拉玛依市': [84.87,45.60],
                                '新疆维吾尔吐鲁番地区': [89.17,42.95],
                                '新疆维吾尔哈密地区': [93.52,42.83],
                                '新疆维吾尔昌吉回族自治州': [87.30,44.02],
                                '新疆维吾尔博尔塔拉蒙古自治州': [82.07,44.90],
                                '新疆维吾尔巴音郭楞蒙古自治州': [86.15,41.77],
                                '新疆维吾尔阿克苏地区': [80.27,41.17],
                                '新疆维吾尔阿图什市': [76.17,39.72],
                                '新疆维吾尔喀什地区': [75.98,39.47],
                                '新疆维吾尔和田地区': [79.92,37.12],
                                '新疆维吾尔伊犁哈萨克自治州': [81.32,43.92],
                                '新疆维吾尔塔城地区': [82.98,46.75],
                                '新疆维吾尔阿勒泰地区': [88.13,47.85],
                                '新疆维吾尔石河子市': [86.03,44.30],
                                '香港': [114.08,22.20],
                                '澳门': [114.08,22.20],
                                '台湾省': [114.08,22.20],
                            }
                        },
                        {
                            name: '北京 Top10',
                            type: 'map',
                            mapType: 'china',
                            data:[],
                            markLine : {
                                smooth:true,
                                effect : {
                                    show: true,
                                    scaleSize: 1,
                                    period: 30,
                                    color: '#fff',
                                    shadowBlur: 10
                                },
                                itemStyle : {
                                    normal: {
                                        borderWidth:1,
                                        lineStyle: {
                                            type: 'solid',
                                            shadowBlur: 10
                                        }
                                    }
                                },
                                data : [
                                {% for i in pie_count %}
                                    [{name:'{{ i }}'}, {name:'北京市',value:{{ pie_count[i] }}}],
                                {% end %}

                                ]
                            },
                            markPoint : {
                                symbol:'emptyCircle',
                                symbolSize : function (v){
                                    return 10 + v/10
                                },
                                effect : {
                                    show: true,
                                    shadowBlur : 0
                                },
                                itemStyle:{
                                    normal:{
                                        label:{show:false}
                                    }
                                },
                                data : [
                                    {% for i in pie_count %}
                                    {name:'{{ i }}',value:{{ pie_count[i] }}},
                                    {% end %}
                                ]
                            }
                        },


                    ]
            }

              return chinaMapChartOption;
            }
        </script>

</body>
</html>